<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="conn" connectionString="Server=f4906c12-89f3-4c04-b95d-a42f003f5088.sqlserver.sequelizer.com;Database=dbf4906c1289f34c04b95da42f003f5088;User ID=zjcaksbciwfqhzge;Password=SSrHTnZseiGq62qQNNrkAbXYpUsW7dmhzjLG6ogQCU5qiViALD8KMdRQ3As83cua;"/>
  </connectionStrings>
</configuration>
